#search{
  border-color:transparent;
  width:"90%";
  border-radius:10;
  margin:10;
  font-size:35;
  background-color:'#f0fcff';
  font-weight:'bold';
  padding:15;
  border:none;
}
#search::placeholder{
  color:#dfe0e1
}

.item {
  display: flex;
  flex-direction: row;
}
.textItem{
  font-size:20px !important;
  padding-left:10px !important;
  
}
.CitiesFound{
  width:92%
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .item {
    flex-direction: column;
  }
  .textItem{
    font-size:12px !important;
    padding-left:2px !important;

  }
  .CitiesFound{
    width:85%
  }
  
}